/*
 * Font: Manrope
*/
@font-face {
    font-family: "Manrope";
    src: url(css/static/Manrope-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url(css/static/Manrope-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}


html, body {
    height: 100%;
    color: #363636;
    font-family: "Manrope";
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 25%, rgba(40,0,222,1) 100%);
}

.container {
    padding-top: 200px;
}

.app {
    margin: 0 auto;
    width: 700px;
    padding: 30px 0 40px 0;
    background: white;
    border-radius: 2px;
    border: 1px solid black;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

/*
  Form
*/
form {
    max-width: 550px;
    margin: 0 auto;
}

#input {
    font-size: 25px;
    font-weight: 600;
}

.button {
    font-size: 20px;
    margin-top: 1rem;
    padding: .5rem;
    width: 100%;
    color: white;
    background-color: black;
    border: 1px solid;
    transition: all .2s linear;
}

.button:hover {
    background-color: rgb(32, 1, 170);
}

/*
    List of Items
*/
ul {
    padding: 2rem 5rem 0 5rem;
}

ul .item {
    list-style: none;
    font-size: 20px;
    position: relative;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 25%, rgba(40,0,222,1) 100%);
    color: white;
    padding: .75rem;
    margin: .25rem 0;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 2px;
}

ul .item i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: 100%;
}

ul .item i:hover {
    transform: scale(1.5);
    cursor: pointer;
}
