/*
 * Font: Righteous
*/
@font-face {
    font-family: "Righteous";
    src: url("static/Righteous-Regular.ttf") format("truetype"),
         url('static/Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    color: #363636;
    font-family: "Righteous";
    background: linear-gradient(90deg, rgba(255,137,252,1) 0%, rgba(0,249,255,1) 100%);
}

.container {
    padding-top: 200px;
}

.app {
    margin: 0 auto;
    width: 700px;
    padding: 30px 0 0 0;
    background: white;
    border: 2px solid transparent;
    border-radius: 30px;
    transition: all .2s linear;
}
.app:hover {
    box-shadow: 0px 5px 10px -2px;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

/*
  Form
*/
form {
    max-width: 550px;
    margin: 0 auto;
}

#input {
    font-size: 25px;
    font-weight: 600;
}

.button {
    display: block;
    margin: 1rem auto 0 auto;
    padding: .5rem;
    width: 200px;
    font-size: 20px;
    color: white;
    background-color: #9c9c9c;
    border: transparent;
    border-radius: 10px;
}

.button:hover {
    background: linear-gradient(90deg, rgba(255,137,252,1) 0%, rgba(0,249,255,1) 100%);
}

/*
    List of Items
*/
ul {
    padding: 2rem 5rem 0 5rem;
}

ul .item {
    list-style: none;
    font-size: 20px;
    position: relative;
    background-color: #9c9c9c;
    color: white;
    padding: .75rem;
    margin: .25rem 0;
    border: transparent;
    border-radius: 12px;
}

ul .item:hover {
    background: linear-gradient(90deg, rgba(255,137,252,1) 0%, rgba(0,249,255,1) 100%);
}

ul .item i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height: 100%;
}

ul .item i:hover {
    transform: scale(1.5);
    cursor: pointer;
}
